Problem 1: Setup & First DataFrame

**Tasks:**
1. Import pandas with alias pd
2. Import numpy with alias np  
3. Create DataFrame with student data:
   - name: ['Alice', 'Bob', 'Charlie', 'Diana']
   - age: [20, 21, 19, 22]
   - grade: ['A', 'B', 'A', 'C']
   - subject: ['Math', 'Physics', 'Math', 'Chemistry']
4. Display the DataFrame
5. Show the shape

In [14]:
import pandas as pd
import numpy as np

# Load the dataset
dict_data = {
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Emma', 'Frank', 'Grace', 'Henry', 'Ivy', 'Jack', 'Kate', 'Liam', 'Maya', 'Noah'],
    'age': [20, 21, 19, 22, 23, 20, 21, 19, 22, 20, 18, 21, 19, 23],
    'grade': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B', 'A', 'C', 'B', 'A', 'C', 'B'],
    'subject': ['Math', 'Physics', 'Math', 'Chemistry', 'Biology', 'Physics', 'Math', 'Chemistry', 'Biology', 'Physics', 'Math', 'Chemistry', 'Biology', 'Physics']
}
dict_data
df = pd.DataFrame(dict_data)
df.sample(n=5) # Display the first few rows of the DataFrame

df.shape # Display the shape of the DataFrame
df.info(verbose=True) # Display detailed information about the DataFrame
df.describe() # Display summary statistics of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     14 non-null     object
 1   age      14 non-null     int64
 2   grade    14 non-null     object
 3   subject  14 non-null     object
dtypes: int64(1), object(3)
memory usage: 580.0+ bytes

             age
count  14.000000
mean   20.571429
std     1.554858
min    18.000000
25%    19.250000
50%    20.500000
75%    21.750000
max    23.000000